body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-container {
  text-align: left;
  width: 75%;
  border: 2px solid black;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
}

.message-container > h4 {
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .message-container {
    width: 25%;
  }
}

.delete-btn {
  margin-left: 75%;
}
